@import "../node_modules/bulma/css/bulma.css";

.center {
    text-align: center;
}

.header {
    color: lightslategray;
    font: bold;
    font-size: 65px;
}

.circle {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    margin: 5vh;
}

#carousel {
    width: 60%;
    height: 40vh;
    overflow: scroll;
    white-space:nowrap;
    margin-left: auto;
    margin-right: auto;
}

#carousel .slide {
    display: inline-block;
}

.textbox {
    width: 10%;
    height: 5%;
    margin: 10px;
}
